node_modules
dist
dist-ssr
*.local
*.tsbuildinfo
scripts/portico-test-output-*
scripts/wix-probe-output-*
.env
.env.local
.env.*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
